{{ define "repo_header" }}
<header class="repo-header">
  <div class="repo-breadcrumb">
    <a href="/">all repos</a>
  </div>
  <h1 class="repo-name">
    {{ .name }}
    {{- if .ref }}
    <span class="ref">@ {{ .ref }}</span>
    {{- end }}
  </h1>
  {{- if .desc }}
  <div class="desc muted">{{ .desc }}</div>
  {{- end }}

  <nav class="repo-nav">
    <ul>
      <li><a href="/{{ .name }}">summary</a></li>
      <li><a href="/{{ .name }}/refs">refs</a></li>
      <li><a href="/{{ .name }}/tree/{{ .ref }}/">tree</a></li>
      <li><a href="/{{ .name }}/log/{{ .ref }}">log</a></li>
    </ul>
  </nav>
</header>
{{ end }}
