{{ define "repo_header" }}
<header class="repo-header">
  <div class="repo-breadcrumb">
    <a href="/">all repos</a>
  </div>
  <h1 class="repo-name">
    {{ .RepoName }}
    {{- if .P.Ref }}
    <span class="ref">@ {{ .P.Ref }}</span>
    {{- end }}
  </h1>
  {{- if .P.Desc }}
  <div class="desc muted">{{ .P.Desc }}</div>
  {{- end }}

  {{- if not .Meta.IsEmpty }}
  <nav class="repo-nav">
    <ul>
      <li><a href="/{{ .RepoName }}">summary</a></li>
      <li><a href="/{{ .RepoName }}/refs">refs</a></li>
      <li><a href="/{{ .RepoName }}/tree/{{ urlencode .P.Ref }}/">tree</a></li>
      <li><a href="/{{ .RepoName }}/log/{{  urlencode .P.Ref }}">log</a></li>
    </ul>
  </nav>
  {{- end }}
</header>
{{ end }}
