{{ define "index" }}
<!DOCTYPE html>
<html>
  <head>
    {{ template "head" . }}
    <title>{{ .meta.Title }}</title>
  </head>
  <header>
    <h1>{{ .meta.Title }}</h1>
    <h2>{{ .meta.Description }}</h2>
  </header>
  <body>
    <main>
      <table class="table index">
        <thead>
          <tr class="nohover">
            <th class="nowrap">Name</th>
            <th class="fill">Description</th>
            <th class="nowrap">Last update</th>
          </tr>
        </thead>
        <tbody>
          {{ range .repos }}
          <tr>
            <td class="nowrap"><a href="/{{ .Name }}">{{ .Name }}</a></td>
            <td class="fill">{{- if .Desc }}{{ .Desc }}{{- else }}<span class="muted">No description set</span>{{- end }}
            <td class="nowrap">{{ humanizeTime .LastCommit }}</td>
          </tr>
          {{ end}}
        </tbody>
      </table>
    </main>
  </body>
</html>
{{ end }}
