{{ define "index" }}
<!DOCTYPE html>
<html>
  <head>
    {{ template "head" . }}
    <title>{{ .Meta.Title }}</title>
  </head>
  <body>
    <header>
      <h1>{{ .Meta.Title }}</h1>
      {{ if .Meta.Description }}<h2>{{ .Meta.Description }}</h2>{{ end }}
    </header>
    <main>
      <table class="table index">
        <thead>
          <tr class="nohover">
            <th class="nowrap">Name</th>
            <th class="fill">Description</th>
            <th class="nowrap">Last update</th>
          </tr>
        </thead>
        <tbody>
          {{- range .P }}
          <tr>
            <td class="nowrap"><a href="/{{ .Name }}">{{ .Name }}</a></td>
            <td class="fill">
              <a href="/{{ .Name }}">
                {{- if .Desc }}{{- .Desc -}}
                {{- else }}<span class="muted">No description set</span>{{- end -}}
              </a>
            <td class="nowrap">
              {{ if not .LastCommit.IsZero }}
              <span class="age">
                {{- humanizeTime .LastCommit -}}
                <span class="tooltip" role="tooltip">{{- .LastCommit -}}</span>
              </span>
              {{ else }}
              <span class="muted">n/a</span>
              {{ end }}
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </main>
  </body>
</html>
{{ end }}
