{{ define "repo_file" }}
<html>
  <head>
    {{ template "head" . }}
    <title>{{ .RepoName }}: {{ .P.Path }} ({{ .P.Ref }})</title>
  </head>
  <body>
    {{ template "repo_header" . }}
    <main>
      <p>{{ .P.Path }} (<a class="muted" href="?raw=true">view raw</a>)</p>
      <div class="file-wrapper">
        {{ if .P.IsImage }}
        <div class="image-viewer">
          <p>{{ .P.Mime }} • {{ .P.Size }} bytes</p>
          <img src="?raw=true" alt="{{- .P.Path -}}">
        </div>
        {{ else if .P.IsBinary }}
        <div class="binary-viewer">
          <p>Binary file ({{ .P.Mime }})</p>
          <p>Size: {{ .P.Size }} bytes</p>
          <a class="link" href="?raw=true" download>[ Download ]</a>
        </div>
        {{ else }}
        <table>
          <tbody>
            <tr>
              <td class="line-numbers">
<pre>{{- range .P.LineCount }}
<a id="L{{ . }}" href="#L{{ . }}">{{ . }}</a>
{{- end -}}</pre>
              </td>
              <td class="file-content">
                <pre>{{- .P.Content -}}</pre>
              </td>
            </tr>
          </tbody>
        </table>
        {{ end }}
      </div>
    </main>
  </body>
</html>
{{ end }}
