{{ define "repo_file" }}
<html>
  <head>
    {{ template "head" . }}
    <title>{{ .RepoName }}: {{ .P.Path }} ({{ .P.Ref }})</title>
  </head>
  <body>
    {{ template "repo_header" . }}
    <main>
      <p>
        <a class="link" href="/{{ .RepoName }}/tree/{{ .P.Ref }}">{{ .RepoName }}</a>
        {{- range .P.Breadcrumbs  -}}
        <span class="mono">/</span>
        {{- if .IsLast -}}{{- .Name -}}
        {{- else -}}<a class="link" href="/{{ $.RepoName }}/tree/{{ $.P.Ref }}/{{ .Path }}">{{ .Name }}</a>{{- end -}}
        {{- end -}}
        (<a class="muted" href="/{{ .RepoName }}/raw/{{ .P.Ref }}/{{ .P.Path }}">view raw</a>)
      </p>
      <div class="file-wrapper">
        {{ if .P.IsImage }}
        <div class="image-viewer">
          <p>{{ .P.Mime }} • {{ .P.Size }} bytes</p>
          <img src="/{{ .RepoName }}/raw/{{ .P.Ref }}/{{ .P.Path }}" alt="{{- .P.Path -}}">
        </div>
        {{ else if .P.IsBinary }}
        <div class="binary-viewer">
          <p>Binary file ({{ .P.Mime }})</p>
          <p>Size: {{ .P.Size }} bytes</p>
          <a class="link" href="/{{ .RepoName }}/raw/{{ .P.Ref }}/{{ .P.Path }}" download>[ Download ]</a>
        </div>
        {{ else }}
        <table class="file-contents" tabindex="-1">
          <tbody>
            {{- range $i, $l := .P.Lines }}
            <tr class="line">
              <td class="line-number mono">
                <a id="L{{ inc $i }}" href="#L{{ inc $i }}" aria>{{ inc $i }}</a>
              </td>
              <td><pre>{{ $l }}</pre></td>
            </tr>
            {{- end -}}
          </tbody>
        </table>
        {{ end }}
      </div>
    </main>
  </body>
</html>
{{ end }}
