{{ define "repo_tree" }}
{{ $name := .RepoName }}
{{ $ref := .P.Ref }}
<html>
  <head>
    {{ template "head" . }}
    <title>{{ $name }}: tree ({{ $ref }})</title>
  </head>
  <body>
    {{ template "repo_header" . }}
    <main>
      {{ $parent := .P.ParentPath }}
      {{ if .P.Breadcrumbs }}
      <p class="mb">
        <a class="link" href="/{{ $name }}/tree/{{ .P.Ref }}">{{ .RepoName }}</a>
        {{- range .P.Breadcrumbs  -}}
        <span class="mode">/</span>
        {{- if .IsLast -}}{{- .Name -}}
        {{- else -}}<a class="link" href="/{{ $name }}/tree/{{ $.P.Ref }}/{{ .Path }}">{{ .Name }}</a>{{- end -}}
        {{- end -}}
      </p>
      {{ end }}
      <table class="table tree">
        <thead>
          <tr class="nohover">
            <th class="nowrap">name</th>
            <th class="fill">last commit</th>
            <th class="nowrap">last update</th>
          </tr>
        </thead>
        <tbody>
          {{ if $parent }}
          <tr>
            <td class="nowrap"><a href="/{{ $name }}/tree/{{ urlencode $ref }}/{{ .P.DotDot }}">..</a></td>
            <th class="fill"></th>
            <th class="nowrap"></th>
          </tr>
          {{ end }}

          {{ range .P.Tree }}
          {{ if not .IsFile }}
          <tr>
            <td class="nowrap">
              {{ if $parent }}<a href="/{{ $name}}/tree/{{ urlencode $ref }}/{{ $parent }}/{{ .Name }}">{{ .Name }}/</a>
              {{ else }}<a href="/{{ $name }}/tree/{{ urlencode $ref }}/{{ .Name }}">{{ .Name }}/</a>{{ end }}
            </td>
            <td class="fill">
              <a href="/{{ $name }}/commit/{{ .Commit.Hash }}">{{ commitSummary .Commit.Message }}</a>
            </td>
            <td class="age nowrap">
              <a href="/{{ $.RepoName }}/commit/{{ .Commit.Hash }}">{{ humanizeRelTime .Commit.Committed }}</a>
              <span class="tooltip" role="tooltip">{{ humanizeTime .Commit.Committed }}</span>
            </td>
          </tr>
          {{ end }}
          {{ end }}

          {{ range .P.Tree }}
          {{ if .IsFile }}
          <tr>
            <td class="nowrap">
              {{ if $parent }}<a href="/{{ $name }}/blob/{{ urlencode $ref }}/{{ $parent }}/{{ .Name }}">{{ .Name }}</a>
              {{ else }}<a href="/{{ $name }}/blob/{{ urlencode $ref }}/{{ .Name }}">{{ .Name }}</a>{{ end }}
            </td>
            <td class="fill">
              <a href="/{{ $.RepoName }}/commit/{{ .Commit.Hash }}">{{ commitSummary .Commit.Message }}</a>
            </td>
            <td class="age nowrap">
              <a href="/{{ $.RepoName }}/commit/{{ .Commit.Hash }}">{{ humanizeRelTime .Commit.Committed }}</a>
              <span class="tooltip" role="tooltip">{{ humanizeTime .Commit.Committed }}</span>
            </td>
          </tr>
          {{ end }}
          {{ end }}
        </tbody>
      </table>

      {{- if and .P.Readme .P.ParentPath -}}
      <article class="readme">{{- .P.Readme -}}</article>
      {{- end -}}
    </main>
  </body>
</html>
{{ end }}
