{{ define "repo_index" }}
<!DOCTYPE html>
<html>
  <head>
    {{ template "head" . }}
    <title>{{ .RepoName}} &mdash; {{ .Meta.Title }}</title>
  </head>
  <body>
    {{ template "repo_header" . }}
    <main>
      {{ if .P.IsEmpty }}
      <h3>Repository is empty</h3>
      {{ else }}
      <section class="repo-index">
        <div class="repo-index-main">
          {{ $repo := .RepoName }}
          {{ range .P.Commits }}
          <div class="box">
            <div>
              <a href="/{{ $repo }}/commit/{{ .Hash }}" class="commit-hash link">{{ .HashShort }}</a>
              &mdash; {{ .AuthorName }}
              <span class="commit-date commit-info age">
                {{ .Committed.Format "Mon, 02 Jan 2006" }}
                <span class="tooltip" role="tooltip">{{ .Committed }}</span>
              </span>
            </div>
            <div>
              {{- if .Message }}{{- commitSummary .Message -}}
              {{- else -}}<span class="muted">Empty message</span>{{- end -}}
            </div>
          </div>
          {{ end }}
        </div>

        <div class="repo-index-side">
          <h2>Clone urls</h2>
          <pre>https://{{.Meta.Host}}/{{.RepoName}}</pre>
          {{ if .Meta.SSHEnabled }}<pre>git@{{.Meta.Host}}:{{.RepoName}}</pre>{{end}}
          {{- if .P.IsMirror -}}
          <br>
          <h2>Mirror status</h2>
          <p>
            Last updated {{ humanizeTime .P.MirrorLastSync }} from:
            <a href="{{.P.MirrorURL}}" target="_blank">{{.P.MirrorURL}}</a>
          </p>
          {{- end}}
        </div>
      </section>
      {{ end }}

      {{- if .P.Readme }}
      <article class="readme">{{- .P.Readme -}}</article>
      {{- end -}}
    </main>
  </body>
</html>
{{ end }}
