{{ define "repo_refs" }}
<html>
  <head>
    {{ template "head" . }}
    <title>{{ .name }}: refs</title>
  </head>
  <body>
    {{ template "repo_header" . }}
    <main>
      {{ $name := .name }}
      <h3>branches</h3>
      <div class="refs">
      {{ range .branches }}
        <div>
        <strong>{{ .Name }}</strong>
        <a class="link" href="/{{ $name }}/tree/{{ .Name }}/">browse</a>
        <a class="link" href="/{{ $name }}/log/{{ .Name }}">log</a>
        <a class="link" href="/{{ $name }}/archive/{{ .Name }}">tar.gz</a>
        </div>
      {{ end }}
      </div>
      {{ if .tags }}
      <h3>tags</h3>
      <div class="refs">
      {{ range .tags }}
      <div>
      <strong>{{ .Name }}</strong>
      <a class="link" href="/{{ $name }}/tree/{{ .Name }}/">browse</a>
      <a class="link" href="/{{ $name }}/log/{{ .Name }}">log</a>
      <a class="link" href="/{{ $name }}/archive/{{ .Name }}">tar.gz</a>
      {{ if .Message }}
      <pre>{{ .Message }}</pre>
      </div>
      {{ end }}
      {{ end }}
      </div>
      {{ end }}
    </main>
  </body>
</html>
{{ end }}
