{{ define "_commit_table" }}
<table class="table log">
  <thead>
    <tr class="nohover">
      <th class="fill">Message</th>
      <th class="author nowrap">Author</th>
      <th>Hash</th>
      <th class="age nowrap">Age</th>
    </tr>
  </thead>
  <tbody>
    {{ range $.Commits }}
    <tr>
      <td class="fill">
        <a href="/{{ $.Repo }}/commit/{{ .Hash }}">
          {{- if .Message }}{{- commitSummary .Message -}}
          {{- else -}}<span class="muted">Empty message</span>{{- end -}}
        </a>
      </td>
      <td class="has-tip nowrap">
        <span class="author-short">
          {{ .AuthorName }} <a href="mailto:{{ .AuthorEmail }}" class="commit-email">{{ .AuthorEmail }}</a>
        </span>
        <span class="tooltip" role="tooltip">
          <strong>{{ .AuthorName }}</strong><br>
          <a href="mailto:{{ .AuthorEmail }}" class="commit-email">{{ .AuthorEmail }}</a>
        </span>
      </td>
      <td class="mono">
        <a href="/{{ $.Repo }}/commit/{{ .Hash }}">{{ .HashShort }}</a>
      </td>
      <td class="has-tip nowrap">
        {{ humanizeRelTime .Committed }}
        <span class="tooltip" role="tooltip">{{ humanizeTime .Committed }}</span>
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}

{{ define "repo_commit" }}
{{ $commit := .P.Diff.Commit }}
{{ $diff := .P.Diff.Diff }}
{{ $stat := .P.Diff.Stat }}
{{ $parents := .P.Diff.Parents }}
<html>
  <head>
    {{ template "head" . }}
    <title>{{ .RepoName }}: {{ $commit.HashShort }}</title>
  </head>
  <body>
    {{ template "repo_header" . }}
    <main>
      <section class="commit">
        {{ template "_diff_stat" $stat }}

        <div class="box">
          <pre class="commit-message">
            {{- if $commit.Message }}{{- $commit.Message -}}
            {{- else -}}<span class="muted">Empty message</span>{{- end -}}
          </pre>
          <div>
            <strong>Author:</strong>
            {{ $commit.AuthorName }}
            <a href="mailto:{{ $commit.AuthorEmail }}" class="commit-email">{{ $commit.AuthorEmail }}</a>
          </div>
          {{ if ne $commit.AuthorEmail $commit.CommitterEmail }}
          <div>
            <strong>Committed by:</strong>
            {{ $commit.CommitterName }}
            <a href="mailto:{{ $commit.CommitterEmail }}" class="commit-email">{{ $commit.CommitterEmail }}</a>
          </div>
          {{ end }}
          <div>
            <strong>Committed at:</strong>
            {{ humanizeTime $commit.Committed }}
          </div>
          {{ if ne $commit.Authored $commit.Committed }}
          <div>
            <strong>Authored at:</strong>
            {{ humanizeTime $commit.Authored }}
          </div>
          {{ end }}
          {{ if $commit.ChangeID -}}
          <div>
            <strong>Change ID:</strong>
            {{ $commit.ChangeID }}
          </div>
          {{- end }}
          {{ if $parents }}
          <div>
            <strong>Parent:</strong>
            {{ range $i, $p := $parents -}}
            {{ if $i }}, {{ end -}}
            <a class="link" href="/{{ $.RepoName }}/commit/{{ $p }}">{{ $p }}</a>
            {{- end }}
          </div>
          {{ end }}
        </div>

        {{ template "_diff_table" $diff }}
      </section>

      <section>
        {{ $parent := "" }}
        {{ if $parents }}{{ $parent = index $parents 0 }}{{ end }}
        {{ template "_diff_files" (dict "Repo" .RepoName "Diff" $diff "RightHash" $commit.Hash "LeftHash" $parent) }}
      </section>
    </main>
  </body>
</html>
{{ end }}
