{{ define "_remote_urls" }}
<h2>Clone urls</h2>
<pre>https://{{.Meta.Host}}/{{.RepoName}}</pre>
{{ if .Meta.SSHEnabled }}<pre>{{.P.SSHUser}}@{{.Meta.Host}}:{{.RepoName}}</pre>{{ end }}
{{ end }}

{{ define "repo_index" }}
<!DOCTYPE html>
<html>
  <head>
    {{ template "head" . }}
    <title>{{ .RepoName}} &mdash; {{ .Meta.Title }}</title>
  </head>
  <body>
    {{ template "repo_header" . }}
    <main>
      {{ if .P.IsEmpty }}
      <h3>Repository is empty</h3>
      {{ if .P.IsMirror }}
      <p>
        Awaiting initial sync from:
        <a class="link" href="{{.P.MirrorURL}}" target="_blank">{{.P.MirrorURL}}</a>
      </p>
      <br>
      {{ template "_remote_urls" . }}
      {{ end }}
      {{ else }}
      <section class="repo-index">
        <div class="repo-index-main">
          {{ $repo := .RepoName }}
          {{ range .P.Commits }}
          <div class="box">
            <div>
              <a href="/{{ $repo }}/commit/{{ .Hash }}" class="commit-hash link">{{ .HashShort }}</a>
              &mdash; {{ .AuthorName }}
              <span class="commit-date commit-info has-tip">
                {{ .Committed.Format "Mon, 02 Jan 2006" }}
                <span class="tooltip" role="tooltip">{{ humanizeTime .Committed }}</span>
              </span>
            </div>
            <div>
              {{- if .Message }}{{- commitSummary .Message -}}
              {{- else -}}<span class="muted">Empty message</span>{{- end -}}
            </div>
          </div>
          {{ end }}
        </div>

        <div class="repo-index-side">
          {{ template "_remote_urls" . }}
          {{ if .P.IsMirror }}
          <br>
          <h2>Mirror status</h2>
          <p>
            {{ if .P.MirrorLastSync.IsZero }}Was not yet synced from:
            {{ else }}Last updated {{ humanizeRelTime .P.MirrorLastSync }} from:
            {{ end }}
            <a href="{{.P.MirrorURL}}" target="_blank">{{.P.MirrorURL}}</a>
          </p>
          {{ end }}
        </div>
      </section>

      {{ if .P.Readme }}<article class="readme">{{.P.Readme}}</article>{{ end }}
      {{ end }}
    </main>
  </body>
</html>
{{ end }}
