{{ define "repo_refs" }}
{{ $repo := .RepoName }}
<html>
  <head>
    {{ template "head" . }}
    <title>{{ $repo }}: refs</title>
  </head>
  <body>
    {{ template "repo_header" . }}
    <main>
      <h3>branches</h3>
      <div class="refs">
        {{ range .P.Branches }}
        <div>
          <strong>{{ .Name }}</strong>
          <a class="link" href="/{{ $repo }}/tree/{{ urlencode .Name }}/">browse</a>
          <a class="link" href="/{{ $repo }}/log/{{ urlencode .Name }}">log</a>
          <a class="link" href="/{{ $repo }}/archive/{{ urlencode .Name }}">tar.gz</a>
        </div>
        {{ end }}
      </div>
      {{ if .P.Tags }}
      <h3>tags</h3>
      <div class="refs">
        {{ range .P.Tags }}
        <div>
          <strong>{{ .Name }}</strong>
          <a class="link" href="/{{ $repo }}/tree/{{ urlencode .Name }}/">browse</a>
          <a class="link" href="/{{ $repo }}/log/{{ urlencode .Name }}">log</a>
          <a class="link" href="/{{ $repo }}/archive/{{ urlencode .Name }}">tar.gz</a>
          {{ if .Message }}
          <details class="tag-message">
            <summary>{{ .Name }} message </summary>
            <pre>{{ .Message }}</pre>
          </details>
          {{ end }}
        </div>
        {{ end }}
      </div>
      {{ end }}
    </main>
  </body>
</html>
{{ end }}
