{{ define "repo_log" }}
<html>
  <head>
    {{ template "head" . }}
  <title>{{ .name }}: log</title>
  </head>
  {{ template "repo_header" . }}
  <body>
    <main>
      {{ $repo := .name }}

      <table class="log">
        <thead>
          <tr class="nohover">
            <th class="msg">Message</th>
            <th class="author">Author</th>
            <th class="hash">Hash</th>
            <th class="age">Age</th>
          </tr>
        </thead>
        <tbody>
          {{ range .commits }}
          <tr>
            <td class="msg">
              <a href="/{{ $repo }}/commit/{{ .Hash }}">{{ commitSummary .Message }}</a>
            </td>
            <td class="author">
              <span class="author-short">
                {{ .AuthorName }} <a href="mailto:{{ .AuthorEmail }}" class="commit-email">{{ .AuthorEmail }}</a>
              </span>
              <span class="tooltip" role="tooltip">
                <strong>{{ .AuthorName }}</strong><br>
                <a href="mailto:{{ .AuthorEmail }}" class="commit-email">{{ .AuthorEmail }}</a>
              </span>
            </td>
            <td class="">
              <a href="/{{ $repo }}/commit/{{ .Hash }}">{{ .HashShort }}</a>
            </td>
            <td class="age">
              <span class="age-display">{{ humanizeTime .Committed }}</span>
              <span class="tooltip" role="tooltip">{{ .Committed }}</span>
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </main>
  </body>
</html>
{{ end }}
