{{ define "repo_tree" }}
{{ $name := .RepoName }}
{{ $ref := .P.Ref }}
<html>
  <head>
    {{ template "head" . }}
    <title>{{ $name }}: tree ({{ $ref }})</title>
  </head>
  <body>
    {{ template "repo_header" . }}
    <main>
      {{ $parent := .P.ParentPath }}

      <table class="table tree">
        <thead>
          <tr class="nohover">
            <th class="mode nowrap">mode</th>
            <th class="size nowrap">size</th>
            <th class="fill">name</th>
          </tr>
        </thead>
        <tbody>
          {{ if $parent }}
          <tr>
            <td class="mode nowrap"></td>
            <td class="size nowrap"></td>
            <td class="fill"><a href="/{{ $name }}/tree/{{ urlencode $ref }}/{{ .P.DotDot }}">..</a></td>
          </tr>
          {{ end }}

          {{ range .P.Tree }}
          {{ if not .IsFile }}
          <tr>
            <td class="mode nowrap">{{ .Mode }}</td>
            <td class="size nowrap">{{ .Size }}</td>
            <td class="fill">
              {{ if $parent }}
              <a href="/{{ $name}}/tree/{{ urlencode $ref }}/{{ $parent }}/{{ .Name }}">{{ .Name }}/</a>
              {{ else }}
              <a href="/{{ $name }}/tree/{{ urlencode $ref }}/{{ .Name }}">{{ .Name }}/</a>
              {{ end }}
            </td>
          </tr>
          {{ end }}
          {{ end }}

          {{ range .P.Tree }}
          {{ if .IsFile }}
          <tr>
            <td class="mode nowrap">{{ .Mode }}</td>
            <td class="size nowrap">{{ .Size }}</td>
            <td class="fill">
              {{ if $parent }}
              <a href="/{{ $name }}/blob/{{ urlencode $ref }}/{{ $parent }}/{{ .Name }}">{{ .Name }}</a>
              {{ else }}
              <a href="/{{ $name }}/blob/{{ urlencode $ref }}/{{ .Name }}">{{ .Name }}</a>
              {{ end }}
            </td>
          </tr>
          {{ end }}
          {{ end }}
        </tbody>
      </table>

      {{- if .P.Readme }}
      <article clsas="readme">{{- .P.Readme -}}</article>
      {{- end -}}
    </main>
  </body>
</html>
{{ end }}
