{{ define "repo_tree" }}
<html>
  <head>
    {{ template "head" . }}
    <title>{{ .name }}: tree ({{ .ref }})</title>
  </head>
  <body>
    {{ template "repo_header" . }}
    <main>
      {{ $repo := .name }}
      {{ $ref := .ref }}
      {{ $parent := .parent }}

      <table class="table tree">
        <thead>
          <tr class="nohover">
            <th class="mode nowrap">mode</th>
            <th class="size nowrap">size</th>
            <th class="fill">name</th>
          </tr>
        </thead>
        <tbody>
          {{ if $parent }}
          <tr>
            <td class="mode nowrap"></td>
            <td class="size nowrap"></td>
            <td class="fill"><a href="/{{ $repo }}/tree/{{ $ref }}/{{ .dotdot }}">..</a></td>
          </tr>
          {{ end }}

          {{ range .files }}
          {{ if not .IsFile }}
          <tr>
            <td class="mode nowrap">{{ .Mode }}</td>
            <td class="size nowrap">{{ .Size }}</td>
            <td class="fill">
              {{ if $parent }}
              <a href="/{{ $repo }}/tree/{{ $ref }}/{{ $parent }}/{{ .Name }}">{{ .Name }}/</a>
              {{ else }}
              <a href="/{{ $repo }}/tree/{{ $ref }}/{{ .Name }}">{{ .Name }}/</a>
              {{ end }}
            </td>
          </tr>
          {{ end }}
          {{ end }}

          {{ range .files }}
          {{ if .IsFile }}
          <tr>
            <td class="mode nowrap">{{ .Mode }}</td>
            <td class="size nowrap">{{ .Size }}</td>
            <td class="fill">
              {{ if $parent }}
              <a href="/{{ $repo }}/blob/{{ $ref }}/{{ $parent }}/{{ .Name }}">{{ .Name }}</a>
              {{ else }}
              <a href="/{{ $repo }}/blob/{{ $ref }}/{{ .Name }}">{{ .Name }}</a>
              {{ end }}
            </td>
          </tr>
          {{ end }}
          {{ end }}
        </tbody>
      </table>

      <article>
        <pre>
          {{- if .readme }}{{ .readme }}{{- end -}}
        </pre>
      </article>
    </main>
  </body>
</html>
{{ end }}
