{{ define "repo_index" }}
<!DOCTYPE html>
<html>
  <head>
    {{ template "head" . }}
    <title>{{ .name }} &mdash; {{ .meta.Title }}</title>
  </head>
  <body>
    {{ template "repo_header" . }}

    <main>
      {{ $repo := .name }}
      {{ if .empty }}
      <h3>Repository is empty</h3>
      {{ else }}
      <section class="repo-index">
        <div class="repo-index-main">
          {{ range .commits }}
          <div class="box">
            <div>
              <a href="/{{ $repo }}/commit/{{ .Hash }}" class="commit-hash">{{ .HashShort }}</a>
              &mdash; {{ .AuthorName }}
              <span class="commit-date commit-info age">
                {{ .Committed.Format "Mon, 02 Jan 2006" }}
                <span class="tooltip" role="tooltip">{{ .Committed }}</span>
              </span>
            </div>
            <div>{{ commitSummary .Message }}</div>
          </div>
          {{ end }}
        </div>

        <div class="repo-index-side">
          <h2>Clone urls</h2>
          <pre>{{- /* */ -}}
https://{{ .servername }}/{{ .name }}
git@{{ .servername }}:{{ .name }}
{{- /* */ -}}</pre>

          {{- if .mirrorinfo.isMirror }}
          <br>
          <h2>Mirror Status</h3>
            <p>
              Last updated {{ humanizeTime .mirrorinfo.lastSync }} from:
              <a href="{{ .mirrorinfo.url }}" target="_blank">{{ .mirrorinfo.url }}</a>
            </p>
            {{- end }}
        </div>
      </section>
      {{ end }}

      {{- if .readme }}
      <article class="readme">
        {{- .readme -}}
      </article>
      {{- end -}}
    </main>
  </body>
</html>
{{ end }}
