{{ define "repo_log" }}
{{ $repo := .RepoName }}
<html>
  <head>
    {{ template "head" . }}
    <title>{{ $repo }}: log</title>
  </head>
  <body>
    {{ template "repo_header" . }}
    <main>
      <table class="table log">
        <thead>
          <tr class="nohover">
            <th class="fill">Message</th>
            <th class="author nowrap">Author</th>
            <th>Hash</th>
            <th class="age nowrap">Age</th>
          </tr>
        </thead>
        <tbody>
          {{ range .P.Commits }}
          <tr>
            <td class="fill">
              <a href="/{{ $repo }}/commit/{{ .Hash }}">
                {{- if .Message }}{{- commitSummary .Message -}}
                {{- else -}}<span class="muted">Empty message</span>{{- end -}}
              </a>
            </td>
            <td class="author nowrap">
              <span class="author-short">
                {{ .AuthorName }} <a href="mailto:{{ .AuthorEmail }}" class="commit-email">{{ .AuthorEmail }}</a>
              </span>
              <span class="tooltip" role="tooltip">
                <strong>{{ .AuthorName }}</strong><br>
                <a href="mailto:{{ .AuthorEmail }}" class="commit-email">{{ .AuthorEmail }}</a>
              </span>
            </td>
            <td class="commit-hash">
              <a href="/{{ $repo }}/commit/{{ .Hash }}">{{ .HashShort }}</a>
            </td>
            <td class="age nowrap">
              {{ humanizeTime .Committed }}
              <span class="tooltip" role="tooltip">{{ .Committed }}</span>
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </main>
  </body>
</html>
{{ end }}
